body{
    margin:0;
    font-family:'Segoe UI', sans-serif;
    background:linear-gradient(#ffd6ec,#fff0f7);
    overflow:hidden;
    text-align:center;
}

/* CORAZONES */
.heart{
    position:fixed;
    animation:fall linear infinite;
}
@keyframes fall{
    0%{transform:translateY(-10vh);}
    100%{transform:translateY(110vh);}
}

/* SOBRE */
.envelope-container{
    margin-top:200px;
    cursor:pointer;
}

.envelope{
    width:220px;
    height:140px;
    margin:auto;
    position:relative;
}

.body{
    width:100%;
    height:100%;
    background:white;
    border-radius:10px;
    display:flex;
    align-items:center;
    justify-content:center;
}

.heart-icon{
    font-size:40px;
}

.flap{
    position:absolute;
    width:0;
    height:0;
    border-left:110px solid transparent;
    border-right:110px solid transparent;
    border-bottom:80px solid #ff8fcf;
    top:-80px;
    transition:transform 1s;
    transform-origin:bottom;
}

/* CARTA */
.paper{
    background:white;
    padding:30px;
    border-radius:20px;
    width:80%;
    max-width:500px;
    margin:auto;
    margin-top:50px;
    box-shadow:0 15px 30px rgba(0,0,0,0.2);
    animation:pop 0.8s ease;
}

@keyframes pop{
    from{transform:scale(0.5); opacity:0;}
    to{transform:scale(1); opacity:1;}
}

button{
    padding:10px 20px;
    border:none;
    border-radius:20px;
    margin:10px;
    cursor:pointer;
}

#yes{
    background:#ff8fcf;
    color:white;
}

#no{
    background:#555;
    color:white;
    position:relative;
}

/* ROSA */
#rose{
    width:200px;
    margin-top:80px;
}

.stem{
    stroke-dasharray:200;
    stroke-dashoffset:200;
    animation:growStem 2s forwards;
}

@keyframes growStem{
    to{stroke-dashoffset:0;}
}

#petal1, #petal2, #petal3{
    transition:all 1s ease;
}

#fox{
    font-size:60px;
    position:absolute;
    bottom:50px;
    left:-100px;
    transition:2s;
}

/* FIRMA */
#signBox{
    margin-top:50px;
}

#final img{
    width:300px;
    animation:float 3s ease-in-out infinite;
    filter:drop-shadow(0 0 20px #ffc1e3);
}

@keyframes float{
    0%{transform:translateY(0);}
    50%{transform:translateY(-15px);}
    100%{transform:translateY(0);}
}

.hidden{
    display:none;
}
