body{
    margin:0;
    font-family:'Segoe UI', sans-serif;
    background:linear-gradient(#ffd6ec,#fff4fa);
    overflow:hidden;
    text-align:center;
}

/* CORAZONES */
.heart{
    position:fixed;
    animation:fall linear infinite;
}
@keyframes fall{
    0%{transform:translateY(-10vh);}
    100%{transform:translateY(110vh);}
}

/* ROSA BONITA */
#rose{
    width:220px;
    margin-top:80px;
}

.stem{
    stroke-dasharray:200;
    stroke-dashoffset:200;
    animation:growStem 3s forwards;
}

@keyframes growStem{
    to{stroke-dashoffset:0;}
}

/* pétalos más suaves */
#petal1,#petal2,#petal3,#petal4,#petal5{
    transition:all 1.8s ease;
}

/* ZORRITO MEJOR */
#fox{
    position:absolute;
    bottom:40px;
    left:-120px;
    font-size:90px;
    transition:3s ease;
}

/* FIRMA */
#signBox{
    margin-top:60px;
}

/* FINAL */
#final img{
    width:320px;
    animation:float 4s ease-in-out infinite;
    filter:drop-shadow(0 0 30px #ffb6ec);
}

@keyframes float{
    0%{transform:translateY(0);}
    50%{transform:translateY(-20px);}
    100%{transform:translateY(0);}
}

.hidden{
    display:none;
}
